/* Font */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --transition05: all 0.5s ease;
}

*{
    margin: 0;
    font-family: "Newsreader", serif;
}

a{
    text-decoration: none;
}

.ReadMore{
    color: #0D1C12;
    background-color: #1AE570;
    border-radius: 24px;
    padding: 20px;
}

.ReadMore2{
    color: #0D1C12;
    background-color: #1AE570;
    border-radius: 16px;
    padding: 10px;
    font-size: 14px;
}

input{
    outline:none;

}

/* Header */


header{
    border-bottom: solid 1px #E5E8EB;
}

header a{
    color: #0D1C12;
}

header>div{
    flex-wrap: wrap;
    max-width: 1280px;
    display: flex;
    margin: 8px auto;
    justify-content: space-between;
    align-items: center;
}

header>div>a{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

header>div>article{
    display: flex;
    gap: 36px;
    align-items: center;
    flex-wrap: wrap;
}

header>div>article>a{
    font-size: 14px;
}

header>div>article>#Login{
    font-weight: 700;
    background-color: #E8F2ED;
    border-radius: 20px;
    gap: 20px;
}

header>div>article>a>img{
    max-width: 40px;
    border-radius: 300px;
}

header>div>.fa-bars{
    display: none;
}


/* Main */

main{
    margin-top: 100px;
    margin-bottom: 100px;
}

main>div{
    max-width: 512px;
    margin: auto;
}

main>div>h1, main>div>h2{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 40px;
}

main>div>form>p{
    display: grid;
    grid-template-columns: 512px;
    gap: 20px;
}

main>div>form>p>label{
    color:#0D1C12;
    font-size: 16px;
    font-weight: 500;
    max-width: max-content;
}

main>div>form>p>input, main>div>form>p>textarea{
    background-color: #E8F2ED;
    width: 100%;
    color: #4F966E;
    font-size: 16px;
    border: none;
    resize: none;
    outline: none;
    &::placeholder{
        color: #4F966E;
    }
}

main>div>#Category{
    margin-bottom: 20px;
}

main>div>#Category>button{
    background-color: #E8F2ED;
    color: #0D1C12;
    border-radius: 16px;
    padding: 10px;
    border: none;
    transition: all 0.3s ease-in-out;
    &:focus{
        background-color: #0D1C12;
        color: #4F966E;
        transition: all 0.3s ease-in-out;
    }
}

main>div>#Publishment *{
    font-weight: 700;
}

main>div>#Publishment>#Upload{
    background-color: #E8F2ED;
    color: #0D1C12;
    border-radius: 16px;
    padding: 10px;
    border: none;
    transition: all 0.3s ease-in-out;
    &:focus{
        background-color: #020302;
        color: #4F966E;
        transition: all 0.3s ease-in-out;
    }
}

main>div>#Publishment{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

main>div>#Publishment>#Publish{
    background-color: #1AE570;
     color: #0D1C12;
    border-radius: 16px;
    padding: 10px;
    border: none;
    transition: all 0.3s ease-in-out;
    &:focus{
        background-color: #020302;
        color: #4F966E;
        transition: all 0.3s ease-in-out;
    }
}


/* Footer */

footer *{color: #4F966E;
margin-bottom: 10px;}

footer p{
    font-family: "Newsreader", serif ;
    font-size: 16px;
}

footer>div{
    max-width: 1280px;
    max-height: 152px;
    margin: auto;
    text-align: center;
}

footer>div>div{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap:10px;
    
}

footer a{
    margin: 0;
}


@media screen and (max-width:1024px) {
    header>div>.fa-bars{
        display: block;
    }

    header>div>article{
        display: none;
    }
    
}

@media screen and (max-width:767px){
    
    main>div>form>p>input, main>div>form>p>textarea{
        max-width: 300px;
    }
}