/* Font */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --transition05: all 0.5s ease;
}

*{
    margin: 0;
    font-family: "Newsreader", serif;
}

a{
    text-decoration: none;
}

.ReadMore{
    color: #0D1C12;
    background-color: #1AE570;
    border-radius: 24px;
    padding: 20px;
}

.ReadMore2{
    color: #0D1C12;
    background-color: #1AE570;
    border-radius: 16px;
    padding: 10px;
    font-size: 14px;
}

input{
    outline:none;

}

/* Header */


header{
    border-bottom: solid 1px #E5E8EB;
}

header a{
    color: #0D1C12;
}

header>div{
    flex-wrap: wrap;
    max-width: 1280px;
    display: flex;
    margin: 8px auto;
    justify-content: space-between;
    align-items: center;
}

header>div>a{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

header>div>article{
    display: flex;
    gap: 36px;
    align-items: center;
    flex-wrap: wrap;
}

header>div>article>a{
    font-size: 14px;
}

header>div>article>#Login{
    font-weight: 700;
    background-color: #E8F2ED;
    border-radius: 20px;
    gap: 20px;
}

header>div>article>a>img{
    max-width: 40px;
    border-radius: 300px;
}

header>div>.fa-bars{
    display: none;
}


/* Main */

main{
    margin-top: 50px;
    margin-bottom: 50px;
}

main>div{
    max-width: 960px;
    margin: auto;
}

main>div>h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

main>div>div{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

main>div>div>#Menus_deroulant{
    display: flex;
    gap: 20px;
}


main>div>div>#Menus_deroulant>select{
    color: #0D1C12;
    font-size: 14px;
    font-weight: 500;
    background-color: #E8F2ED;
    border-radius: 16px;
    padding: 10px;
    border: none;
    
}

main>div>div>article{
    display: flex;
    background-color: #E8F2ED;
    border-radius: 24px;
    padding: 10px;
    max-width: 960px;
}

main>div>div>article>button{
    color: #4F966E  ;
    background-color: #00000000;
    border: none;
}

main>div>div>article>input{
    color: #4F966E;
    background-color: #00000000;
    border: none;
    width: 100%;
    &::placeholder{
        color: #4F966E;
    }
}

main>div>div>#tableau{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    
}

main>div>div>div>article{
    display: grid;
    gap: 20px;
    grid-template-columns: 416px 117px 142px 142px 106px;
}

main>div>div>div>.article>p{
    color: #0D1C12;
}
main>div>div>div>.article>.Date{
    color: #4F966E;
}
main>div>div>div>.article>a{
    color: #4F966E;
    font-size: 14px;
    font-weight: 700;
}
main>div>div>div>.article>button{
    color: #964F4F  ;
    background-color: #00000000;
    border: none;
    font-size: 14px;
    font-weight: 700;
    display: contents;
}




/* Footer */

footer *{color: #4F966E;
margin-bottom: 10px;}

footer p{
    font-family: "Newsreader", serif ;
    font-size: 16px;
}

footer>div{
    max-width: 1280px;
    max-height: 152px;
    margin: auto;
    text-align: center;
}

footer>div>div{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap:10px;
    
}

footer a{
    margin: 0;
}


@media screen and (max-width:1024px) {
    header>div>.fa-bars{
        display: block;
    }

    header>div>article{
        display: none;
    }
    
}