/* Font */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --transition05: all 0.5s ease;
}

*{
    margin: 0;
    font-family: "Newsreader", serif;
}

a{
    text-decoration: none;
}

input{
    outline:none;
}


/* Header */

header{
    border-bottom: solid 1px #E5E8EB;
}

header a{
    color: #0D1C12;
}

header>div{
    max-width: 1280px;
    display: flex;
    margin: 8px auto;
    justify-content: space-between;
    align-items: center;
}

header>div>a{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

header>div>#log{
    background-color: #1AE570;
    border: none;
    font-size: 14px;
    font-weight: 700;
    padding: 16px;
    border-radius: 20px;
    transition: var(--transition05)
}
header>div>#log:hover{
        background-color: rgba(128, 128, 128, 0.5);
        transition: var(--transition05)
    }


/* Footer */

footer *{color: #4F966E;
margin-bottom: 30px;}

footer p{
    font-family: "Newsreader", serif ;
    font-size: 16px;
}

footer>div{
    max-width: 1280px;
    max-height: 152px;
    margin: auto;
    text-align: center;
}

footer>div>div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    
}
