/* Font */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --transition05: all 0.5s ease;
}

*{
    margin: 0;
    font-family: "Newsreader", serif;
}

a{
    text-decoration: none;
}


input{
    outline:none;
}


/* Header */

header{
    border-bottom: solid 1px #E5E8EB;
}

header a{
    color: #0D1C12;
}

header>div{
    max-width: 1280px;
    display: flex;
    margin: 15px auto;
    justify-content: space-between;
    align-items: center;
}

header>div>a{
    font-size: 18px;
    font-weight: 700;
}

header>div>#log{
    background-color: #1AE570;
    border: none;
    font-size: 14px;
    font-weight: 700;
    padding: 16px;
    border-radius: 20px;
    transition: var(--transition05)
}
header>div>#log:hover{
        background-color: rgba(128, 128, 128, 0.5);
        transition: var(--transition05)
    }


/* Main */

main{
    display: grid;
    grid-template-columns: 512px;
    justify-content: center;
    margin: 100px auto ;
}

main>h1{
    color: #0D1C12;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

main>form{
    display: grid;
}

main>form>label{
    margin-top: 20px;
    font-size: 16px;
}

main>form>input{
    color: #4F966E;
    border: none;
    padding: 20px;
    
    &::placeholder{
        color: #4F966E;
        font-size: 16px sans-serif;
    }
}

main>form>div{
    display: flex;
    gap: 10px;
}

main>form>div>input{
    color: #4F966E;
}

main>form>button{
    padding: 16px;
    background-color:#1AE570;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 14px;
    
}


main>div>p{
    color: #393939;
    font-size: 14px;    
    margin-bottom: 40px;

}

main>div>a{
    padding: 16px;
    background-color:#E5E8EB;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: black;
}
/* Footer */

footer *{color: #4F966E;
margin-bottom: 10px;}

footer p{
    font-family: "Newsreader", serif ;
    font-size: 16px;
}

footer>div{
    max-width: 1280px;
    max-height: 152px;
    margin: auto;
    text-align: center;
}

footer>div>div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    
}

footer a{
    margin: 0;
}