/* Font */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --transition05: all 0.5s ease;
}

*{
    margin: 0;
    font-family: "Newsreader", serif;
}

a{
    text-decoration: none;
}

.ReadMore{
    color: #0D1C12;
    background-color: #1AE570;
    border-radius: 24px;
    padding: 20px;

}

.ReadMore2{
    color: #0D1C12;
    background-color: #1AE570;
    border-radius: 16px;
    padding: 10px;
    font-size: 14px;
}

input{
    outline:none;
}

/* Header */


header{
    border-bottom: solid 1px #E5E8EB;
}

header a{
    color: #0D1C12;
}

header>div{
    max-width: 1280px;
    display: flex;
    margin: 8px auto;
    justify-content: space-between;
    align-items: center;
}

header>div>a{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

header>div>div{
    display: flex;
    align-items: center;
}

header>div>div>button{
    margin-left: 20px;
}

header>div>div>article{
    background-color: #E8F2ED;
}
header>div>div>article button, input{
    border: none;
    background-color: #ffffff00;
    
}

header>div>div>article button,input::placeholder{
    color: #4F966E;
    
    font-size: 16px;
}

header>div>div>article>input{
    max-width: 192px;
}

header>div>div>a{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 14px;
    font-weight: 700;
    padding: 16px;
    border-radius: 20px;
    transition: var(--transition05)
}
header>div>div>a:hover{
        background-color: rgba(128, 128, 128, 0.5);
        transition: var(--transition05)
    }

/* Main */

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
}

main>h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
}

main>img{
    object-fit: cover;
    width: 780px;
    height: 217px;
    object-position: 0px -70px;
}


main>div{
    display: grid;
    grid-template-columns: 883px;
    margin-top: 30px;
    
}

main>div>h2{
    text-align: center;
    color: #0D1C12;
    font-size: 26px;
    margin-bottom: 30px;
}

main>div>p{
    color: #696969;
    font-size: 16px;
    margin-bottom: 60px;
    line-height: 24px;
}

/* Footer */


footer p{
    color: #4F966E;
    font-family: "Newsreader", serif ;
    font-size: 16px;
    margin-bottom: 40px;
}

footer>div{
    max-width: 1280px;
    max-height: 152px;
    margin: auto;
    text-align: center;
}

footer>div>div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}