/* Font */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --transition05: all 0.5s ease;
}

*{
    margin: 0;
    font-family: "Newsreader", serif;
}

a{
    text-decoration: none;
}

.ReadMore{
    color: #0D1C12;
    background-color: #1AE570;
    border-radius: 24px;
    padding: 20px;

}

.ReadMore2{
    color: #0D1C12;
    background-color: #1AE570;
    border-radius: 16px;
    padding: 10px;
    font-size: 14px;
}

/* Header */


header{
    border: solid 1px #E5E8EB;
}

header a{
    color: #0D1C12;
}

header>div{
    max-width: 1280px;
    display: flex;
    margin: 8px auto;
    justify-content: space-between;
    align-items: center;
}

header>div>a{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

header>div>div{
    display: flex;
    align-items: center;
}

header>div>div>button{
    margin-left: 20px;
}

header>div>div>article{
    background-color: #E8F2ED;
}
header>div>div>article button, input{
    border: none;
    background-color: #ffffff00;
    
}

header>div>div>article button,input::placeholder{
    color: #4F966E;
    
    font-size: 16px;
}

header>div>div>article>input{
    max-width: 192px;
}

header>div>div>a{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 14px;
    font-weight: 700;
    padding: 16px;
    border-radius: 20px;
    transition: var(--transition05)
}
header>div>div>a:hover{
        background-color: rgba(128, 128, 128, 0.5);
        transition: var(--transition05)
    }

/* Main */


/* Section 1 */


main>#section1{
    margin: auto;
    max-width: 928px;
    max-height: 480px;
    background-image: url(/img/background_Writer_Acc.png);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 12px;
}


main>#section1>div{
    background: linear-gradient(#0000001A,#00000066);
    padding: 130px 0 5px  0;

}

main>#section1>div>div{
    color: white;
    max-height: 100%;
    max-width: 100%;
    padding: 40px;
    margin: 40px 0 0 40px;
    position: relative;
}

main>#section1>div>div *{
    margin-bottom: 25px;
}

main>#section1>div>div>h1{
    font-size: 48px;
    font-weight: 800;
}

main>#section1>div>div>p{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}

main>#section1>div>div>a{
    font-weight: 700;
    font-size: 16px;
    
}


/* Section 2 */
main>#section2>div{
    display: grid;
}

main>#section2>div>div{
    display: grid;
    grid-template-columns: auto auto auto;
}

main>#section2>div>div>img{
    width: auto;
    overflow: hidden;
    margin-top: -10px;
}

/* Footer */


footer p{
    color: #4F966E;
    font-family: "Newsreader", serif ;
    font-size: 16px;
    margin-bottom: 40px;
}

footer>div{
    max-width: 1280px;
    max-height: 152px;
    margin: auto;
    text-align: center;
}

footer>div>div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}